*{
    padding: 0;
    margin: 0;
}

.error-page{
    background-image: linear-gradient(to bottom,#222222, #5926b6);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

h1{
    font-size: 80px;
    color: aliceblue;
}

.return > *{
    color: aliceblue;
    
}