*{
    padding: 0;
    margin: 0;
}
.content{
    background-image: linear-gradient(to bottom,#222222, #5926b6);
    height: 100vh;
    margin-top: -20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }
    
  
    
    
    #map{
        position: relative;
        height: 211px;
        width: 211;
        margin: 200px -80px 0 0;
        filter: drop-shadow(16px 10px 10px);
        /* margin-top: 200px; */
        
    
    }
    
    
    .title{
        display: flex;
        flex-direction: row;
        justify-items: center;
        text-align: center;
        
    }
    #block{
    position: relative;
        height: 211px;
        width: 211;
        margin: 80px 0 0 -80px;
        filter: drop-shadow(16px 10px 10px);
        /* box-shadow: 10px 5px 5px black; */
        
    }
    #s-title{
       
        max-width: 60vw;
        font-size: x-large;
        display: flex;
        justify-content: center;
        line-height: 1;
        word-spacing:0.1em;
    }
    
    #s-title p{
        font-size: 120px;
        font-weight: bolder;
        color: white;
    }
    

    .subtitle{
        width: 45vw;
        margin: 20px 0;
        color: aliceblue;
    }

    .subtitle p{
        text-align: center;
    }
    

    button{
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
       
    }

    button > *{
        text-decoration: none;
        color: black;
    }