*{
    padding: 0;
    margin: 0;
}

.product{
    background-image: linear-gradient(to bottom,#222222, #5926b6);
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.prod-content{
    width: 95vw;
}

.prod-sidebar{
    width: 5vw;
}